@media only screen and (max-width: 1200px){
    #cta {
        text-align: center;
    }
    #cta img {display: none;}
}


@media (max-width: 75em) {
 
  
    .grid {
      column-gap: 4.8rem;
      row-gap: 6.4rem;
    }
  
  
    .heading-tertiary {
      font-size: 1.2rem;
    }
    .step-description {
        font-size: 1rem;
    }
}
@media (max-width: 34em) {
    .grid {
      row-gap: 4.8rem;
    }
  
    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols {
      grid-template-columns: 1fr;
    }
  
  
    .step-img-box:nth-child(2) {
      grid-row: 1;
    }
  
    .step-img-box:nth-child(6) {
      grid-row: 5;
    }
  
    .step-img-box {
      transform: translateY(2.4rem);
    }
}
  
  